{% extends 'base.html.twig' %}
{% block body %}
    {% if errors is defined %}
        {% for error in errors %}
            <div class="bg-alert text-danger">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% if authenticationError is defined %}
        <div class="bg-alert text-danger">{{ authenticationError }}</div>
    {% endif %}
<form data-bitwarden-watching="1" method="post" action="/php_blog_adventure/login">
    <h1 class="h3 mb-3 fw-normal">Connectez-vous</h1>
    <div class="form-floating">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Mot de passe</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Se connecter</button>
</form>
{% endblock %}