</style>
<section class="bg-light mt-5 py-3 py-md-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <a href="#" download="CV_YourName" class="d-block">
                    <img src="https://via.placeholder.com/100" alt="Profile Image" class="img-fluid rounded w-50" />
                </a>
            </div>

            <div class="col-md-8">
                <p>
                    Développeur PHP depuis maintenant 1 an, je suis en mesure de concrétiser tous vos projets.
                    Une idée de boutique en ligne ou d'application métier ? N'hésitez plus.
                </p>
            </div>
        </div>
    </div>
</section>