{% extends 'base.html.twig' %}
{% block title %}
    <h1>TOUS LES ARTICLES</h1>
{% endblock %}
{% block body %}
    <div>
        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.author_id }}</td>
                    <td>{{ post.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}