<form action="/php_blog_adventure/admin/posts/new" method="post">
    {% if error is defined and error is not null %}
    <div>{{ error }}</div>
    {% endif %}
    <label for="title">Titre</label>
    <input type="text" id="title" name="title" required>

    <label for="intro">Intro</label>
    <textarea id="intro" name="intro" required></textarea>

    <label for="content">Contenu</label>
    <textarea id="content" name="content" required></textarea>

    <label for="category_id">Catégorie</label>
    <select id="category_id" name="category_id" required>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <label for="intro">Intro</label>
    <textarea id="intro" name="intro" required>{{ post.intro }}</textarea>

    <button type="submit">Créer</button>
</form>