<footer class="py-3 mt-5 text-center text-body-secondary bg-body-tertiary">
    <p>PHP BLOG ADVENTURE
    </p>
</footer>
{#TODO : faire en sorte que le footer reste bien en bas de la page ... sans doute déplacer vers le container ?? #}