<footer class="py-3 mt-5 d-flex flex-column align-items-center text-body-secondary bg-body-tertiary w-100">
    <div id="footer-blog-title">
        <p>PHP BLOG ADVENTURE
        </p>
    </div>
    <div id="footer-socials">
        <a href="https://github.com/njarach" class="me-3" target="_blank"><i class="bi bi-github" style="font-size: 1.5rem"></i></a>
        <a href="https://www.linkedin.com/in/nicolas-jarach-527263216/" target="_blank"><i class="bi bi-linkedin h1" style="font-size: 1.5rem"></i></a>
    </div>
</footer>
